<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="container">
    <h1>Save your movies in lists!</h1>
    <p>Keep your movies following your desires.</p>
  </div>
</div>

<div class="container d-flex">
  <% @lists.each do |list| %>
    <div class="card-category col-4">
      <h2><%= link_to list.name, list_path(list) %></h2>
    </div>
  <% end %>
</div>
