<div class="banner_form">
  <h1>New list</h1>
</div>

<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create list", class: "btn btn-primary" %>
  <% end %>
</div>
